rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /companies/{companyId}/employees/{empId}/profile.jpg {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.resource.size < 6 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null;
    }

    match /audits/{companyId}/{auditId}/{filename} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.resource.size < 20 * 1024 * 1024
        && (
          request.resource.contentType.matches('application/pdf')
          || request.resource.contentType.matches('image/.*')
          || request.resource.contentType == 'application/msword'
          || request.resource.contentType
            == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
        );
      allow delete: if request.auth != null;
    }
  }
}
